.side-info-area {
	position: fixed;
	top: 75px;
	bottom: 0;
	right: 0;
	width: 400px;
	background: #fff;
	box-shadow: 0 -10px 10px rgba(0,0,0,.2);
}



#header {
	height: 75px !important;
	z-index: 999;
	background-color: #8ac8db;
}

#menu, #logo {
	height: 50px;
	margin-top: 12px;
	margin-right: 25px;
}

#logo .logo-img {
	position: relative;
	transform: translateY(-12px);
	margin-left: 50px;
}



.btnside {
	z-index: 99999;
}

#mySidenav {
	position: fixed;
	top: 75px;
	bottom: 0;
	left: 0;
	width: 200px;
	transform: translateX(-200px);
}



#Area_d {
	font-size: 18px;
	line-height: 1.4;
margin-left: 60;
}

#BSfound {
	font-size: 18px;
	line-height: 1.4;
margin-left: 60;
}

.btnside {
	top: 20px;
}

.btnside:hover, .btnside {
	background-color: transparent;
}

.side-area-half {
	height: 50%;
	display: flex;
    align-items: center;
}

#BS-drop2, #bi-index-drop1, #bi-index-drop2 {
	display: none;
}

@media (max-width: 1440px) {
	.side-info-area {
		width: 330px;
	}

	#sideMap {
		margin-right: 330px;
	}

	#legend {
		left: 250px !important;
	}
}