#header{
	position: fixed;
	background-color: #1C1C1C;
	height: 4.4%;
	left: 0;
	top: 0;
	right: 0;
}


#mainMap{
	background-color: #A9D0F5;
	height: 100%;
	width: 100%;
	top: 4.4%;
	left: 0;
	position: fixed;
	transition: 0.5s;
	margin-right:0;
}

#sideMap{
	background-color: #A9D0F5;
	height: 100%;
	width: 35%;
	top: 4.4%;
	left: 0;
	position: relative;
	transition: 0.5s;
	float:right;
	margin-right:23%;
	display:none;

}

#Data-Head{
	font-size: small;
	font-weight: bold;
	padding-top: 1%;
}



.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
     /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
	height: 100%;
}

.home_b {background-color: #1C1C1C; color: #fff;} /* Gray */ 
.home_b:hover {background: #585858;}

.setting_b {background-color: #1C1C1C; color: #fff;} /* Gray */ 
.setting_b:hover {background: #585858;}


.go_b {background-color: #1C1C1C; color: #fff; position: absolute; right: 10px; top: 10px;} /* Gray */ 
.go_b:hover {background: #585858;}

.btnside {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 4px 13px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
	position: fixed;
	top: 4.4%;
	left: 0;
	font-weight: bold;
	font-size: small;
	background-color: #1C1C1C;
}



.btnside:hover {background: #424242;}

#menu{
	right: 0;
	top: 0;
	position: fixed;
	margin: right;
	height: 4.4%;
}

#logo{
	height: 100%;
}

body {
    background-color: #1C1C1C;
}
/******************** The navigation menu  ********************/
.sidenav {
    height: 96%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index:100; /* Stay on top */
    top: 4.4%; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 6.6%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
}

/******************** The navigation menu links ********************/
.sidenav a {
    padding-right: 1%;
    text-decoration: none;
    font-size: small;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 3%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 1.3%;
    right: 0.8%;
    font-size: medium;
	border: none; /* Remove borders */
    color: white; /* Add a text color */
	font-weight: bold;
	font-size: small;
	background-color: transparent;
    border: 3px solid #5bc0de8f;
    border-radius: 50%;
    color: #5bc0de8f;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
 #closebtn {
    position: absolute;
	display:none;
	z-index:1;
    top: 10%;
    right: 30%;
	border: none; /* Remove borders */
    color: white; /* Add a text color */
	font-weight: bold;
	font-size: small;
	background-color: transparent;
    border: 3px solid #1212128f;
    width: 2.4%;
    height: 3.8%;
    border-radius: 50%;
    color: #1415168f;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.sidenav .closebtn:hover{
	opacity: .8;
}



#map_ {
	border-top: 1px solid #eee;
}

#map_0{
	display: none;
}

#map_1{
	display: none;
}

#area0{
	display: none;
}

a.map_sel{
	min-width: 14%;
	min-height: 3.3%;
	text-align: left;
	font-size: small;
	padding-top: 0.5%;
	padding-left: 1.5%;
	color: #888 !important;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

a.map_sel:hover {
    background-color: #eee;
}

.active-map-type {
    background-color: #8ac8db !important;
}

.bi-index-drop {
    background-color: #f5f5f5;
    color: #333;
    display: none;
}

.active-map-type font {
    color: #fff !important;
}

a.psel{
	min-width: 14%;
	min-height: 3.3%;
	text-align: left;
	font-size: small;
	padding-top: 3%;
	padding-left: 10%;
	color: #fff;
}

#sideInfoBox{
	font-size: small;
	position: absolute;
	min-width: 14%;
	right: 69%;
	top: 10%;
	background: #585858;
	height: 20%;
	color: white;
	display: none;
}

#sideInfoBox .closebtn {
    position: absolute;
    top: 0;
    right: 0;
	border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 4px 10px; /* Add some padding */
	font-weight: bold;
	font-size: small;
	background-color: #424242;
}

#sideInfoBox .closebtn:hover{
	background: #585858;
}

#sideInfoBox .deletebtn {
    position: absolute;
    top: 0;
    right: 29px;
	border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 4px 10px; /* Add some padding */
	font-weight: bold;
	font-size: small;
	background-color: #424242;
}

#sideInfoBox .deletebtn:hover{
	background: #585858;
}


.info-head{
	position: absolute;
	font-weight: bold;
	font-size: small;
	left: 0.7%;
	top: 0.3%;
}






/**
* Create a position for the map
* on the page */
#map {
  position: relative;
  top: 4.4%;
  bottom: 0;
  width: 100%;
  right:31%;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.20);
  margin-right: 2.2%;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 7.8%;
  right:25%;
  height: 11%;
  margin-top: 2.2%;
  width: 18.7%;
}

#mainMap_title{
  top: 7.8%;
  left:16%;
  
  height: 7.8%;
  margin-top: 2.2%;
  width: 14%;
}

#sideMap_title{
  top: 7.8%;
  right:37%;
  display:none;
  height: 7.8%;
  margin-top: 2.2%;
  width: 14%;
}

#legend {
  padding: 0.7%;
  right:25%;
  font-size:small;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 4.4%;
  width: 7.6%;
}

#legend2 {
  padding: 0.7%;
  right:27.8%;
  font-size:small;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 4.4%;
  width: 7.6%;
  display:none;
}


.checkbox-teal [type="checkbox"]:checked+label:before {
    border-color: transparent #009688 #009688 transparent;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10%;
  height: 8%;
  margin-right: 0.3%;
}

.legend2-key {
  display: inline-block;
  border-radius: 20%;
  width: 10%;
  height: 8%;
  margin-right: 0.55%;
}

.menu-ui {
  position:absolute;
  top:1.1%;
  right:41.7%;
  }

/* Do a fancy data transition for browsers that support it */
path {
  -webkit-transition:fill 200ms;
          transition:fill 200ms;
  }
